{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}


{% block content %}
 <div class="container">
    <div class="row mt-5">
        <div class="col-lg-10 col-sm-12">
              <!-- post create form -->-
              <h1 class="mb-5">Wecome <span class="text-primary">{{request.user.username}}</span></h1>

              <p><a href="{% url 'create' %}" class="btn btn-outline-primary">Create New Post</a></p>

              <!-- On tables -->
              <table class="table table-striped table-dark mt-3">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Money</th>
                    <th scope="col" colspan="2">Time</th>

                  </tr>
                </thead>
                <tbody>
                  {% for post in page_obj %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                       <!-- <th scope="row">{{ post.id }}</th> -->
                      <td>{{post.title}}</td>
                      <td>{{post.location}}</td>
                      <td>{{post.money}} NTD</td>
                      <td>
                        {{post.create_date}}        
                      </td> 
                      <td>
                        <a href="{% url 'update' post.id %}" class="link-info  link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover mx-2" style="text-decoration: none;">Update</a>
                        <a href="{% url 'delete' post.id %}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="text-decoration: none;">Delete</a>               
                      </td>
                    </tr>
                  {% endfor %}
                  <tr>
                    
                    <td colspan="3" class="text-center bold"><strong>Total</strong></td>
                    <td colspan="3">
                     <strong>{{ total }} NTD</strong> 
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- page navigation -->
               {% if is_paginated %}
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        Previous
                      </a>
                    {% endif %}

                    {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                      Next
                    </a>
                    {% endif %}
                    </li>
                  </ul>
                </nav>
              {% endif %}
        </div>
        <div class="col-lg-2 col-sm-12 mt-5">
          <div class="card mb-4">
            <div class="card-header">Posts Archive</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!">Web Design</a></li>
                            <li><a href="#!">HTML</a></li>
                            <li><a href="#!">Freebies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
 </div>
{% endblock %}