{% extends 'base.html' %}
{% block title %}
    Post Archive Month
{% endblock %}

{% block content %}
 <div class="container">
    <div class="row mt-5">
        <div class="col-lg-8 col-sm-12">
            <h3>Post Archive Month</h3>
            <ul>
                {% for post in object_list %}
                    <li>{{ post.create_date|date:"F j, Y" }}: {{ post.title }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-2"></div>
    </div>
 </div>
{% endblock %}