<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand mx-5" href="/">My Expenditure Site</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end me-3" id="navbarNav">
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
            <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'create' %}">Write</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">
                {{request.user.username}}
                (logout)
              </a>
            </li>
          {% else %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
          {% endif %}
        </ul>
      </div>
      <form class="d-flex" role="search" method="get" action="{% url 'search' %}">
          <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>